@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(12, 12, 11, 0.884);
}

/* Sidebar */
.sidebar {
    background-color: rgb(10, 10, 10);
    width: 220px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.sidebar nav {
    padding: 22px;
}

.sidebar nav li {
    list-style: none;
    font-size: 15px;
    padding: 18px;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(255, 233, 233);
}

.sidebar nav li a:hover {
    color: rgb(181, 231, 253);
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.main {
    background-color: rgba(12, 12, 11, 0.884);
    color: rgb(219, 238, 255);
    margin-left: 165px;
    padding: 20px;
    overflow: auto;
    min-height: 100vh;
    width: calc(100% - 165px);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin-top: 20px;
}

.devInfo {
    color: rgb(219, 238, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    max-width: 500px;
}

.hello {
    font-size: 48px;
}

.name {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 22px;
}

.aboutmore {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 40px;
    font-family: 'Fira Sans', sans-serif;
}

.location {
    margin-top: 10px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(255, 238, 193);
    background-color: rgb(34, 97, 116);
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

.btn-sn {
    font-size: 12px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    color: rgb(34, 97, 116);
    background-color: rgb(255, 238, 193);
}

.devPic img {
    height: 58vh;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.contactform {
    color: rgb(219, 238, 255);
    font-family: 'Fira Sans', sans-serif;
    padding: 0 20px;
    padding-top: 10px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 8px;
}

#emailHelp {
    font-size: 11px;
    color: rgb(120, 120, 247);
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 22px;
    margin: 3px 0;
}

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

p {
    font-family: 'Source Code Pro', monospace;
}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillsContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    margin-left: 0;
}

.skillItem .icon svg {
    display: block;
    margin-left: -10px;
    padding: 0;
}

.skillItem .icon {
    margin-right: -10px;
}

.skill {
    width: 100%;
    max-width: 265px;
    height: 10px;
    background-color: rgb(42, 91, 184);
    border: 1px solid rgb(25, 66, 247);
}

.thirty {
    width: 30%;
}

.fifty {
    width: 50%;
}

.sixty {
    width: 60%;
}

.seventy {
    width: 70%;
}

.ninety {
    width: 90%;
}

.hundred {
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 6px 10px -4px;
    fill: rgb(219, 238, 255);
    vertical-align: middle;
}

.text {
    font-size: 16px;
}

input {
    background-color: rgb(76, 80, 87);
}

.social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.social-icon {
    font-size: 18px;
    color: rgb(163, 234, 255);
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    background-color: rgba(12, 12, 11, 0.884);
    color: #1d3ffc;
}

.social-icon:nth-child(2):hover {
    background-color: black;
    color: #f3eded;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        height: 100vh;
    }

    .infoContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 10px 0;
    }

    .devPic img {
        height: auto;
        max-width: 75%;
        margin: 20px 0;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        position: fixed;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar nav {
        padding: 10px;
    }

    .sidebar nav li {
        padding: 10px;
        text-align: center;
    }

    .contactform form div input {
        width: 100%;
    }

    .social-media {
        position: relative;
        bottom: 0;
    }

    .menu-toggle {
        display: block;
        background-color: #000;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        height: 100vh;
    }
}

@media (max-width: 548px) {
    .infoContainer {
        margin-top: 20px;
    }

    .devInfo {
        text-align: center;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }

    .sidebar {
        display: block;
        transform: translateX(-100%);
    }

    .menu-toggle {
        display: block;
        margin-bottom: 20px;
    }

    .main {
        margin-left: 0;
    }
}